head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TEN-X: strategy x design x technology
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato|Open+Sans:400,300,700")
    link(rel="icon", type="image/png", href="images/ten-x-ico.png")

    // build:css css/libraries.min.css
    
    // bower:css
    // endbower
    // endbuild
    // build:css css/app.min.css
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="css/app_override.css")
    // endbuild
    // build:js js/vendor/modernizr.min.js
    script(src="bower_components/modernizr/modernizr.js")
    // endbuild
