div(id="rulesModal" class="reveal-modal" data-reveal=true)
    h2(class="text-center") <strong>TEN-X RULES</strong>

    h3 1. Care
    p(class="rule") On this spaceship, there are no passengers, we are all crew.
        div(class="rule-q") Q: Do I understand you correctly, that... ?
      
    h3 2. Step Back
    p(class="rule") See the forest for the trees. Always plan for the long run.
        div(class="rule-q") Q: What's the big picture?

    h3 3. Clear Communication
    p(class="rule") Making sure that understanding is shared is everybody’s responsibility.
        div(class="rule-q") Q: Do I understand correctly that... ?

    h3 4. Output First
    p(class="rule") Define where you are trying to get to before starting the journey (course-correcting along the way is ok).
        div(class="rule-q") Q: What is it that we are trying to do?

    h3 5. Small Steps
    p(class="rule") If not sure whether to take 1 or 2 steps, take 3. Every step has to be made as small as possible, but not smaller.
        div(class="rule-q") Q: What is the smallest possible next step in the right direction?

    h3 6. Keep Learning
    p(class="rule") Consider everything a learning opportunity. Always apply lessons learned.
        div(class="rule-q") Q: What can we learn from this?

    h3 7. Make
    p(class="rule") Always output. Embrace constraints. Start where you are. Use what you have. Do what you can.
        div(class="rule-q") Q: How do we make this, given what we have right now?

    a(href="#" class="close-reveal-modal") &#215;
